<h1 class="text-center my-4">Welcome to bookstore</h1>

<div class="d-flex justify-content-center gap-3">
  <p>User Login</p>
  <a routerLink="/register" class="btn btn-primary">Register</a>
  <a routerLink="/login" class="btn btn-primary">Login</a>
</div>

<div class="d-flex justify-content-center gap-3 mt-4">
  <p>Admin Login</p>
  <a routerLink="/admin/register" class="btn btn-primary">Register</a>
  <a routerLink="/admin/login" class="btn btn-primary">Login</a>
</div>

<a routerLink="/admin" class="btn btn-primary">Admin</a>
