<div class="container">
  <div class="d-flex my-3 gap-5 align-items-center">
    <div class="profile-info">
      <p>Name: Your name</p>
      <p>Email: Your email</p>
    </div>
    <div class="profile-image">
      <img
        src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
        alt="your name"
        style="height: 200px; width: 200px; border-radius: 50%"
      />
      <!-- <img
        src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80"
        alt="your name"
        style="height: 200px; width: 200px; border-radius: 50%"
      /> -->
    </div>
  </div>
  <button class="btn btn-secondary">Edit your information</button>
</div>
