.filter select {
  width: auto;
}

.book-card {
  padding: 0.5rem;
  border-radius: 10px;
}

.book-image img {
  height: 10rem;
  border-radius: 5px;
}

.spinner {
  margin-inline: auto;
  margin-block: 1.5rem;
}
