::selection {
  background: #61a38d;
}

.burger {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  height: 2rem;
  width: 2rem;
}

.burger [class^="bar-"] {
  height: 4px;
  width: 32px;
  background: #fff;
}

.burger.open [class^="bar-"] {
  position: absolute;
}

.burger .bar-2 {
  margin-block: 8px;
}

.burger.open .bar-2 {
  display: none;
}

.burger.open .bar-1 {
  top: 45%;
  left: calc(50% - 16px);
  rotate: 45deg;
}

.burger.open .bar-3 {
  top: 45%;
  left: calc(50% - 16px);
  rotate: -45deg;
}

.dashboard-content {
  min-height: 90vh;
}

.sidebar {
  position: fixed;
  height: 100vh;
  width: 240px;
  overflow-y: auto;
  z-index: 100;
  transition: 0.3s;
}

.sidebar.close {
  margin-left: -240px;
}

.sidebar .brand {
  height: 4rem;
  margin-bottom: 0;
  padding: 1rem;
  color: #fff;
}

.sidebar ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #fff;
  padding: 1rem;
  display: block;
  width: 100%;
  font-size: 1.25rem;
  transition: 0.3s;
}

.sidebar ul li a:hover {
  background: #b1b1b1;
}

.sidebar ul li a.active {
  background: #fff;
  color: blue;
}

/* Actual content */
.content {
  /* padding: 1rem; */
  margin-left: 240px;
  transition: 0.3s;
}

.content.sidebar-closed {
  margin-left: 0;
}

.content header {
  position: sticky;
  top: 0;
  height: 4rem;
}

.content h1 {
  /* background-image: url("https://img.freepik.com/free-vector/stylish-glowing-digital-red-lines-banner_1017-23964.jpg?w=1800&t=st=1686547181~exp=1686547781~hmac=9e91c862a1e2d5fc3dd53a03b8f0788224d4cbde08d77507743cdcd4d3e1ddbc"); */
  background-image: url("https://img.freepik.com/free-vector/v915_53876-174949.jpg?w=1800&t=st=1686547433~exp=1686548033~hmac=9bae73f4dbb58363cca3c94f8cfa8aea0b172953385e16e284897af634a62fe9");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 2rem;
}
